{% extends 'base.html' %}

{% block navbar %}
{% endblock %}

{% block body %}
	<section id="cart_items">
		<div class="container">
			<!-- release in future iterations
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			-->
			<div class="table-responsive cart_info">
				<table class="table table-condensed" id="priority-list-table">
					<thead>
						<tr class="cart_menu">
                            <td></td>
							<td class="image">Clinic</td>
							<td class="description">Order ID</td>
							<td class="price">Priority</td>
							<td class="quantity">Weight</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
                        {% for order in all_orders %}
                            <tr style="cursor: pointer">
                                <td class="expandCollapseIcon"><i class="glyphicon glyphicon-plus-sign" title="Click to see or hide details!"></i></td>
                                <td class="cart_product">
                                    <h4>{{ order.location.name }}</h4>
                                </td>
                                <td class="cart_description">
                                    <h4>{{ order.id }}</h4>
                                </td>
                                <td class="cart_price">
                                    <p>{{ order.priority }}</p>
                                </td>
                                <td class="cart_quantity">
                                    <p class="cart_total_price">{{ order.totalWeight }}kg</p>
                                </td>
                                <td class="cart_total">
                                    <button class="btn btn-default process-order-btn">Process this Order</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="item-details">
                                    <div class="toggleWrapper">
                                        <div class="row">
                                            <div class="col-xs-1 itemTitle">No.</div>
                                            <div class="col-xs-2 itemTitle center">Item ID</div>
                                            <div class="col-xs-6 itemTitle">Description</div>
                                            <div class="col-xs-2 itemTitle center">Quantity</div>
                                        </div>
                                        {% for item in order.items.all %}
                                            <div class="row">
                                                <div class="col-xs-1">{{ forloop.counter }}</div>
                                                <div class="col-xs-2 center">{{ item.item.id }}</div>
                                                <div class="col-xs-6">{{ item.item.description }}</div>
                                                <div class="col-xs-2 center">{{ item.quantity }}</div>
                                            </div>
                                        {% endfor %}
                                        <a class="btn btn-default order-processed-btn" href={% url 'airsupply:order_processed' order.id %}>&#x2714; Order Processed</a>
                                        <a class="btn btn-default down-shipping-btn" target="_blank" href={% url 'airsupply:download_shipping' order.id %}>Download Shipping Label</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->
{% endblock %}