{% extends 'base.html' %}

{% block navbar %}
    {% include 'clinic-manager/navbar.html' %}
{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						
						<div class="brands_products"><!--brands_products-->
							<h2>Search</h2>
							<form class="form-inline md-form form-sm mt-0" action="{% url 'airsupply:browse' %}" method="get">
                              <input class="form-control form-control-sm ml-3 w-75" type="text" name="itemDesc" placeholder="&#xF002; &nbsp; Search for an item..." aria-label="Search" style="font-family:Arial, FontAwesome">
                            </form>
						</div><!--/brands_products-->

						<div class="brands_products"><!--brands_products-->
							<h2>Category</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
                                    {% for category in categories %}
                                        <li><a href="{% url 'airsupply:browse_cat' category.id %}"> <span class="pull-right">({{ catSizes|get_item:category }})</span>{{ category.name }}</a></li>
                                    {% endfor %}
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<!-- will show in future iterations
						<div class="price-range">
							<h2>Weight Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="25" data-slider-step="1" data-slider-value="[0,25]" id="sl2" ><br />
								 <b class="pull-left">0 kg</b> <b class="pull-right">25 kg</b>
							</div>
						</div>
						-->
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Medical Supplies</h2>
                        {% if all_items.categorized %}
                            <a href="{% url "airsupply:browse" %}" class="btn btn-default clr-filter-btn">Clear Filter</a>
                        {% endif %}
                        {% for item in all_items %}
						<div class="product-wrapper">
							<div class="col-sm-3" style="text-align: center;">
								<img src="{{ item.imageUrl }}" class="img-responsive product-img">
								<span class="product-id"><b>Item ID:</b> {{ item.id }}</span>
							</div>
							<div class="col-sm-7">
								<span class="product-name">{{ item.description }}</span>
								<span class="product-description">Category: {{ item.category }}.<br/>Weight: {{ item.weight }}kg</span>
							</div>
							<div class="col-sm-2"  style="text-align: center; padding-top: 20px;">
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    Qty:
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up" href=""> + </a>
                                        <input class="cart_quantity_input" type="text" name="qty" value="1" autocomplete="off" size="2">
                                        <a class="cart_quantity_down" href=""> - </a>
                                    </div>
                                    <input type="hidden" name="itemID" value="{{ item.id }}">
                                    <input type="submit"  class="btn btn-default add-to-cart" value="&#xf07a; &nbsp; Add to cart" style="font-family:Arial, FontAwesome">
                                </form>
							</div>
						</div>
                        {% endfor %}

					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
	

{% endblock %}