{% extends 'base.html' %}

{% block navbar %}
    {% include 'clinic-manager/navbar.html' %}
{% endblock %}

{% block body %}
	<div class="container">
		<section id="cart_items" class="col-sm-9">

			<!-- release in future iterations
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			-->


			<div class="table-responsive cart_info">


				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Weight</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total Weight</td>
                            {% if ordered == 'FALSE' %}
							<td></td>
                            {% endif %}
						</tr>
					</thead>
					<tbody>
                        {% for item in all_items %}
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src="{{ item.item.imageUrl }}" alt=""></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">{{ item.item.description }}</a></h4>
                                    <p>Product ID: {{ item.item.id }}</p>
                                </td>
                                <td class="cart_price">
                                    <p>{{ item.item.weight }}</p>
                                </td>
                                <td class="cart_quantity">
                                    <p>{{ item.quantity }}</p>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">{{ weights|get_item:item }}</p>
                                </td>
                                {% if ordered == 'FALSE' %}
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="{% url 'airsupply:remove_item' order_id item.id %}"><i class="fa fa-times"></i></a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
					</tbody>
				</table>
			</div>
		</section>

		<section id="do_action" class="col-sm-3">
				<div class="total_area">
                    {% if ordered == 'FALSE' %}
					    <span style="float:left;">Priority:</span>
                        <select name="priority" form="checkoutForm" class="cart_priority_selector">
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        </select>
                        <p>Cart Total Weight: {{ totalWeight }}</p>
                        <form action="{% url 'airsupply:cart_checkout' %}" method="post" id="checkoutForm">
                            {% csrf_token %}
                            <input class="btn btn-default check_out" type="submit" value="Checkout Cart">
                        </form>
                    {% else %}
                        <span style="float:left;">Date: {{ date }}</span><br>
                        <span style="float:left;">Priority: {{ priority }}</span><br>
                        <p>Cart Total Weight: {{ totalWeight }}</p>
                    {% endif %}
				</div>


		</section><!--/#do_action-->
	</div>

{% endblock %}
