{% extends 'base.html' %}

{% block body %}


	<div class="container">
		<section id="cart_items">
		
			<!-- release in future iterations
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			-->
			<div class="table-responsive cart_info dispatch_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="drone">Drone ID</td>
							<td class="orders">Orders</td>
							<!--<td class="weight"></td>-->
							<td class="dispatch_options">Options</td>
						</tr>
					</thead>
					<tbody>

                    {% for droneload in all_droneloads %}
                        <tr {% if forloop.first %} class="top_drone" {% endif %}>
							<td class="drone_col verticalColumn">
								<p class="drone_id">
									123456
								</p>
							</td>
							<td class="cart_description orders_col">
								<h4>Orders to be loaded:</h4>
                                {% for order in droneload.orders.all %}
                                    <div class="row">
                                        <div class="col-xs-1"><br>{{ forloop.counter }}.</div>
                                        <div class="col-xs-8 order_wrapper"><b>{{ order.id }}</b><br>{{ order.location.name }}</div>
                                        <div class="col-xs-2 weight_col"><br>{{ order.totalWeight }}kg</div>
                                    </div>
                                {% endfor %}
                                    <div class="row">
                                        <div class="col-xs-8"></div>
                                        <div class="col-xs-1 plus_sign">+</div>
                                        <div class="col-xs-2 weight_col total_weight">{{ dlWeights|get_item:droneload }}kg</div>
                                    </div>

							</td>
							<!--<td class="cart_price weight_col">
								<h4></h4>
								<ol>
									<li><b>3.5kg</b><br> </li>
									<li><b>5.8kg</b><br> </li>
									<li><b>2.2kg</b><br> </li>
								</ol>
							</td>-->
							<td class="cart_quantity dispatch_col">
								<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-download"></i> Downlaod Itinerary</a>
								<a href="{% url 'airsupply:dispatch_drone' droneload.id %}" class="btn btn-default dispatch"><i class="fa fa-check"></i> Dispatch Drone</a>
							</td>
						</tr>
                    {% endfor %}


					</tbody>
				</table>
			</div>
		</section> 
	</div>



{% endblock %}
