{% extends 'base1.html' %}
{% block title %}
Forgot Password
{% endblock %}

{% block body %}
	<section id="login-form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="login-form"><!-- register-user change classname to regiter-form in css too -->
						<h2>Please enter your username or email.</h2>
						<form action="" id="forgot-password" method="post"> <!-- implement the form action -->
                            {% csrf_token %}
							<input type="text" name='up' placeholder="Username or Email"/>
                            {% if error_message %}
                                <p class="error-msg">{{ error_message }}</p>
                            {% endif %}
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section><!--/form-->
{% endblock %}

