{% extends 'base.html' %}

{% block body %}
	<section id="register-form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="signup-form"><!-- register-user change classname to regiter-form in css too -->
						<h2>New User Registration</h2>
						<form action="{% url 'airsupply:confirm_registration' %}" id="register" method="post">
                            {% csrf_token %}
							<label>Role:</label> <label>{{ role }}</label><br>
                            <label>Email:</label> <label>{{ email }}</label>

                            {{ form.as_p }}
                            <br>
							<button type="submit" class="btn btn-default">Register</button>
						</form>
					</div> <!-- /register-user -->

				</div>



			</div>
		</div>
	</section><!--/form-->

{% endblock %}


